{% extends 'base_admin.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
   <div class="flex items-center justify-between">
        <h1 class="h1">Les évènements</h1>
        <a href="{{ path('admin_event_new') }}" class="btn-primary">Créer un évènement</a>
    </div>

<div class="card mt-3">
    <div class="card-header">
        <h2 class="h4">Liste des évènements</h2>
    </div>
  
      <div class="card-body p0">
            <div class="p-2">
                <form action="{{ path('admin_event_index') }}">
                    <div class="grid grid-cols-3 gap-3">
                        <div class="form-group">
                            <label for="name">Nom de l'évènement</label>
                            <input type="text" name="name" id="name" value="{{ formSearch.get('name') }}" />
                        </div>
                        <div class="form-group">
                            <label for="date">Date de l'évènement</label>
                            <input type="date" name="date" id="date" value="{{ formSearch.get('date') }}" />
                        </div>
                    </div>
                    <div class="flex justify-end mt-2 gap-1">
                        <button type="submit" class="btn btn-primary btn-small">Rechercher</button>
                        {% if formSearch.searching %}
                            <a href="{{ path('admin_event_index') }}" class="btn-secondary btn-small">Réinitialiser</a>
                        {% endif %}
                    </div>
                </form>
                <div class="flex justify-between items-center mt-2">
                    <p>
                        {% if count == 0 %}
                            <small>Aucun résultat.</small>
                        {% elseif count == 1 %}
                            <small>{{ count }} résultat.</small>
                        {% else %}
                            <small>{{ count }} résultats.</small>
                        {% endif %}
                    </p>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="td-id">{{ sort_render('Id', formSearch, 'e.id')|raw }}</th>
                    <th class="td-picture">Aperçu</th>
                    <th class="td-name">{{ sort_render('Nom', formSearch, 'e.name')|raw }}</th>
                    <th class="td-date">{{ sort_render('Date', formSearch, 'e.date')|raw }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td class="td-id">{{ event.id }}</td>
                        <td class="td-picture">
                            {% if event.picture and event.generateImageByFixture %}
                                <img src="{{ event.picture }}" alt="{{ event.name }}" class="max-h-[80px]">
                            {% elseif event.picture and event.generateImageByFixture == 0 %}
                                <img src="{{ vich_uploader_asset(event, 'pictureFile') |imagine_filter('miniature_event_front') }}" alt="{{ event.name }}" class="max-h-[200px]">
                            {% endif %}
                        </td>
                        <td class="td-name">{{ event.name }}</td>
                        <td class="td-date">{{ event.date|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('admin_event_show', {id:event.id}) }}" class="btn-icon-secondary" title="Voir">
                                {{ icon('eye') }}
                            </a>
                            <a href="{{ path('admin_event_edit', {id:event.id}) }}" class="btn-icon-secondary" title="Modifier">
                                {{ icon('edit') }}
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        {{ knp_pagination_render(events) }}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>


</div>

{% endblock %}
